[General]
wait_before_send = 10

[Meshtastic]
# auto or /dev/ttySomething0 or tcp:192.168.0.1
port = auto

[MQTT]
channel = LongFast
username = meshdev
password = large4cats
broker = mqtt.meshtastic.org
port = 1883
